@font-face {
  font-family: Lato-Bold;
  src: url("../fonts/Lato/fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato/fonts/Lato-Bold.eot") format("eot"); }

@font-face {
  font-family: Lato-Light;
  src: url("../fonts/Lato/fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato/fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato/fonts/Lato-Light.eot") format("eot"); }

@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/Lato/fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato/fonts/Lato-Regular.eot") format("eot"); }

@font-face {
  font-family: Lato-Italic;
  src: url("../fonts/Lato/fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato/fonts/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato/fonts/Lato-Italic.eot") format("eot"); }

@-webkit-keyframes banner-ani {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -55px);
    transform: translate(0px, -55px); }
  6% {
    opacity: 0.04;
    -webkit-transform: translate(0px, -55px);
    transform: translate(0px, -55px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@keyframes banner-ani {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -55px);
    transform: translate(0px, -55px); }
  6% {
    opacity: 0.04;
    -webkit-transform: translate(0px, -55px);
    transform: translate(0px, -55px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@-webkit-keyframes rote-img {
  0% {
    -webkit-transform: rotateZ(25deg);
    transform: rotateZ(25deg); }
  33% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  66% {
    -webkit-transform: rotateZ(-25deg);
    transform: rotateZ(-25deg); }
  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); } }

@keyframes rote-img {
  0% {
    -webkit-transform: rotateZ(25deg);
    transform: rotateZ(25deg); }
  33% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  66% {
    -webkit-transform: rotateZ(-25deg);
    transform: rotateZ(-25deg); }
  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); } }

body {
  font-family: Lato-Regular, Helvetica, sans-serif;
  font-size: 14px; }

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    text-decoration: none;
    cursor: pointer; }

p {
  margin: 0; }

button {
  border: none; }

img {
  vertical-align: middle; }

.row {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

.affix {
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 9999 !important; }

.affix + .wrapper {
  position: relative;
  padding-top: 51px; }
  @media all and (min-width: 992px) {
    .affix + .wrapper {
      padding-top: 72px; } }

.wrapper-content {
  background-color: #D0D2D3;
  margin: 0 auto;
  padding: 0; }
  .wrapper-content .banner {
    width: 100%;
    height: 90px;
    background-image: url("../images/banner.jpg");
    background-position: center center;
    background-size: 100%; }
    .wrapper-content .banner .list-banner {
      display: none; }
    @media all and (min-width: 992px) {
      .wrapper-content .banner {
        height: 480px;
        background-size: 100% 480px; }
        .wrapper-content .banner .list-banner {
          display: block; } }
    .wrapper-content .banner .list-banner {
      width: 100%;
      margin: 0 auto;
      height: 23em;
      bottom: 55px;
      font-size: 1.2em;
      font-family: Lato-Regular; }
      @media all and (min-width: 1200px) {
        .wrapper-content .banner .list-banner {
          width: 1200px; } }
      .wrapper-content .banner .list-banner .list {
        width: 15%;
        height: 10em;
        float: left;
        margin-right: 3%;
        position: relative; }
        .wrapper-content .banner .list-banner .list .logo-bg {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%; }
        .wrapper-content .banner .list-banner .list .list-text {
          position: relative;
          display: block;
          width: 100%;
          height: 14em;
          z-index: 2; }
          .wrapper-content .banner .list-banner .list .list-text:hover .img-item {
            -webkit-animation: rote-img 0.5s ease;
            animation: rote-img 0.5s ease; }
          .wrapper-content .banner .list-banner .list .list-text img {
            width: 70%;
            margin-left: 14%;
            margin-top: 14%; }
          .wrapper-content .banner .list-banner .list .list-text span {
            display: block;
            text-align: center;
            padding-left: 3%;
            font-size: 1.2em;
            color: #1e141e; }
            .wrapper-content .banner .list-banner .list .list-text span.slogan {
              font-size: 1em;
              padding-left: 7%;
              width: 90%;
              color: black; }
        .wrapper-content .banner .list-banner .list:nth-child(1) {
          width: 25%;
          height: 20em;
          -webkit-animation: banner-ani ease 0.8s 2.2s;
          animation: banner-ani ease 0.8s 2.2s; }
          .wrapper-content .banner .list-banner .list:nth-child(1) .list-text {
            position: relative;
            display: block;
            width: 100%;
            z-index: 2; }
            .wrapper-content .banner .list-banner .list:nth-child(1) .list-text span {
              font-size: 1em; }
              @media all and (min-width: 1200px) {
                .wrapper-content .banner .list-banner .list:nth-child(1) .list-text span {
                  font-size: 1.2em; } }
            .wrapper-content .banner .list-banner .list:nth-child(1) .list-text .name {
              color: #E74C3C; }
            .wrapper-content .banner .list-banner .list:nth-child(1) .list-text img {
              width: 50%;
              margin-left: 24%;
              margin-top: 1%; }
        .wrapper-content .banner .list-banner .list:nth-child(2) {
          margin-top: 180px;
          -webkit-animation: banner-ani ease 0.8s 2.6s;
          animation: banner-ani ease 0.8s 2.6s; }
        .wrapper-content .banner .list-banner .list:nth-child(3) {
          margin-top: 10px;
          -webkit-animation: banner-ani ease 0.8s 2.4s;
          animation: banner-ani ease 0.8s 2.4s; }
        .wrapper-content .banner .list-banner .list:nth-child(4) {
          margin-top: 170px;
          -webkit-animation: banner-ani ease 0.8s 3s;
          animation: banner-ani ease 0.8s 3s; }
        .wrapper-content .banner .list-banner .list:nth-child(5) {
          margin-top: 15px;
          -webkit-animation: banner-ani ease 0.8s 2.8s;
          animation: banner-ani ease 0.8s 2.8s; }
  .wrapper-content header {
    width: 100%;
    margin: 0 auto; }
    .wrapper-content header nav {
      max-width: 1200px;
      margin: 0 auto;
      background: #004824;
      border: none; }
      @media all and (min-width: 768px) {
        .wrapper-content header nav {
          background: #ffffff; } }
      @media all and (min-width: 768px) {
        .wrapper-content header nav .container-fluid {
          padding: 0; } }
      .wrapper-content header nav .container-fluid .navbar-header .nav-mobile {
        padding-top: 5px;
        display: inline-block;
        width: 80%; }
        @media all and (min-width: 768px) {
          .wrapper-content header nav .container-fluid .navbar-header .nav-mobile {
            display: none; } }
        .wrapper-content header nav .container-fluid .navbar-header .nav-mobile li {
          width: 30%;
          text-align: center;
          color: #ffffff;
          float: left; }
          .wrapper-content header nav .container-fluid .navbar-header .nav-mobile li:nth-child(2) {
            width: 40%; }
      .wrapper-content header nav .container-fluid .navbar-header button {
        border-color: #ffffff; }
        .wrapper-content header nav .container-fluid .navbar-header button span {
          color: #000000; }
      @media all and (min-width: 768px) {
        .wrapper-content header nav .container-fluid #myNavbar {
          padding: 0; } }
      .wrapper-content header nav .container-fluid #myNavbar ul.nav {
        margin-top: 0;
        margin-bottom: 0;
        background-color: #1D9E74; }
        @media all and (min-width: 768px) {
          .wrapper-content header nav .container-fluid #myNavbar ul.nav {
            background-color: #ffffff;
            -webkit-padding-start: 0; } }
        .wrapper-content header nav .container-fluid #myNavbar ul.nav li:nth-child(3), .wrapper-content header nav .container-fluid #myNavbar ul.nav li:nth-child(7) {
          display: none; }
          @media all and (min-width: 768px) {
            .wrapper-content header nav .container-fluid #myNavbar ul.nav li:nth-child(3), .wrapper-content header nav .container-fluid #myNavbar ul.nav li:nth-child(7) {
              display: block; } }
        .wrapper-content header nav .container-fluid #myNavbar ul.nav li.item {
          border-bottom: 1px solid white; }
          @media all and (min-width: 768px) {
            .wrapper-content header nav .container-fluid #myNavbar ul.nav li.item {
              border-radius: 5px;
              background-color: #ffffff;
              border-bottom: 2px solid white; } }
          .wrapper-content header nav .container-fluid #myNavbar ul.nav li.item a {
            width: 100%;
            color: #ffffff;
            font-size: 1.2em;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }
            @media all and (min-width: 768px) {
              .wrapper-content header nav .container-fluid #myNavbar ul.nav li.item a {
                padding: 15px 11px;
                color: #004824;
                font-family: Lato-Bold;
                text-align: center; } }
            @media all and (min-width: 1200px) {
              .wrapper-content header nav .container-fluid #myNavbar ul.nav li.item a {
                padding: 15px 20px; } }
            .wrapper-content header nav .container-fluid #myNavbar ul.nav li.item a i {
              color: #0e211e; }
            .wrapper-content header nav .container-fluid #myNavbar ul.nav li.item a p {
              display: inline-block;
              position: absolute;
              left: 50px; }
              @media all and (min-width: 768px) {
                .wrapper-content header nav .container-fluid #myNavbar ul.nav li.item a p {
                  display: block;
                  position: static; } }
          .wrapper-content header nav .container-fluid #myNavbar ul.nav li.item:hover {
            cursor: pointer;
            background-color: #ffffff;
            border-bottom: 2px solid red; }
            .wrapper-content header nav .container-fluid #myNavbar ul.nav li.item:hover a {
              -webkit-transform: translate(0, -4px);
              transform: translate(0, -4px);
              color: #004824; }
        .wrapper-content header nav .container-fluid #myNavbar ul.nav li.open a {
          background-color: transparent; }
        .wrapper-content header nav .container-fluid #myNavbar ul.nav li.dropdown .dropdown-menu {
          background-color: #2A3B45;
          position: absolute;
          top: 42px;
          width: 100%;
          z-index: 2;
          padding: 0;
          border: none; }
          @media all and (min-width: 768px) {
            .wrapper-content header nav .container-fluid #myNavbar ul.nav li.dropdown .dropdown-menu {
              width: 200px;
              top: 72px; } }
          .wrapper-content header nav .container-fluid #myNavbar ul.nav li.dropdown .dropdown-menu .sub-item {
            color: white;
            border-bottom: 1px solid white;
            border-radius: 5px; }
            .wrapper-content header nav .container-fluid #myNavbar ul.nav li.dropdown .dropdown-menu .sub-item a {
              height: 40px;
              line-height: 40px;
              text-align: left;
              color: #ffffff; }
              .wrapper-content header nav .container-fluid #myNavbar ul.nav li.dropdown .dropdown-menu .sub-item a i {
                color: #23BB39; }
              @media all and (min-width: 768px) {
                .wrapper-content header nav .container-fluid #myNavbar ul.nav li.dropdown .dropdown-menu .sub-item a p {
                  display: inline-block;
                  position: absolute;
                  left: 30px; } }
              @media all and (min-width: 992px) {
                .wrapper-content header nav .container-fluid #myNavbar ul.nav li.dropdown .dropdown-menu .sub-item a p {
                  left: 40px; } }
              @media all and (min-width: 768px) {
                .wrapper-content header nav .container-fluid #myNavbar ul.nav li.dropdown .dropdown-menu .sub-item a {
                  line-height: 16px; } }
            .wrapper-content header nav .container-fluid #myNavbar ul.nav li.dropdown .dropdown-menu .sub-item:hover {
              background-color: #004824;
              border-bottom: 2px solid red; }
            .wrapper-content header nav .container-fluid #myNavbar ul.nav li.dropdown .dropdown-menu .sub-item:hover a {
              color: #ffffff; }
      @media all and (min-width: 768px) {
        .wrapper-content header nav .container-fluid #myNavbar ul.navbar-right {
          display: inline-block;
          margin: 0;
          width: 260px;
          background-color: transparent;
          position: absolute;
          top: -45px;
          right: 0; } }
      @media all and (min-width: 992px) {
        .wrapper-content header nav .container-fluid #myNavbar ul.navbar-right {
          position: static;
          margin-top: 10px; } }
      .wrapper-content header nav .container-fluid #myNavbar ul.navbar-right li {
        background-color: #FA681F;
        border-bottom: 1px solid white; }
        @media all and (min-width: 768px) {
          .wrapper-content header nav .container-fluid #myNavbar ul.navbar-right li {
            background-color: transparent;
            margin-left: 5px;
            border: none; } }
        .wrapper-content header nav .container-fluid #myNavbar ul.navbar-right li button {
          color: #000000;
          background-color: transparent;
          border: none; }
          .wrapper-content header nav .container-fluid #myNavbar ul.navbar-right li button span {
            position: absolute;
            left: 50px; }
            @media all and (min-width: 768px) {
              .wrapper-content header nav .container-fluid #myNavbar ul.navbar-right li button span {
                position: static; } }
          @media all and (min-width: 768px) {
            .wrapper-content header nav .container-fluid #myNavbar ul.navbar-right li button {
              background-color: #5cb85c;
              color: #ffffff;
              font-size: 1.2em;
              border-radius: 5px;
              border: none;
              background: -webkit-gradient(linear, right top, left top, color-stop(50%, #69D17A), color-stop(50%, #5cb85c));
              background: linear-gradient(to left, #69D17A 50%, #5cb85c 50%);
              background-size: 200% 100%;
              -webkit-transition: background-position 100ms ease;
              transition: background-position 100ms ease;
              background-position: left bottom; }
              .wrapper-content header nav .container-fluid #myNavbar ul.navbar-right li button:hover {
                background-position: right top;
                color: black;
                cursor: pointer; } }
      .wrapper-content header nav section.info-acc {
        display: none;
        background-color: white;
        position: absolute;
        top: -90px;
        right: 0;
        width: 180px;
        font-size: 10px;
        padding: 0 1px; }
        @media all and (min-width: 768px) {
          .wrapper-content header nav section.info-acc {
            width: 250px;
            font-size: 14px; } }
        @media all and (min-width: 992px) {
          .wrapper-content header nav section.info-acc {
            position: absolute;
            top: 0;
            right: 5px; } }
        .wrapper-content header nav section.info-acc .img-ava {
          float: left; }
          .wrapper-content header nav section.info-acc .img-ava img {
            width: 50px;
            height: 45px;
            border-radius: 50%; }
            @media all and (min-width: 768px) {
              .wrapper-content header nav section.info-acc .img-ava img {
                height: 72px;
                width: 75px; } }
        .wrapper-content header nav section.info-acc .info-user {
          float: right;
          text-align: right; }
          @media all and (min-width: 768px) {
            .wrapper-content header nav section.info-acc .info-user {
              padding-top: 5px; } }
          .wrapper-content header nav section.info-acc .info-user p {
            font-size: 11px; }
            @media all and (min-width: 768px) {
              .wrapper-content header nav section.info-acc .info-user p {
                font-size: 14px; } }
          .wrapper-content header nav section.info-acc .info-user button {
            background-color: #5cb85c;
            color: #ffffff;
            font-size: 1.2em;
            border-radius: 5px;
            border: none;
            background: -webkit-gradient(linear, right top, left top, color-stop(50%, #69D17A), color-stop(50%, #5cb85c));
            background: linear-gradient(to left, #69D17A 50%, #5cb85c 50%);
            background-size: 200% 100%;
            -webkit-transition: background-position 100ms ease;
            transition: background-position 100ms ease;
            background-position: left bottom;
            padding: 5px 7px;
            margin-top: 5px; }
            .wrapper-content header nav section.info-acc .info-user button:hover {
              background-position: right top;
              color: black;
              cursor: pointer; }
    .wrapper-content header section#myModal button, .wrapper-content header section#myModal2 button {
      background-color: #5cb85c;
      color: #ffffff;
      font-size: 1.2em;
      border-radius: 5px;
      border: none;
      background: -webkit-gradient(linear, right top, left top, color-stop(50%, #69D17A), color-stop(50%, #5cb85c));
      background: linear-gradient(to left, #69D17A 50%, #5cb85c 50%);
      background-size: 200% 100%;
      -webkit-transition: background-position 100ms ease;
      transition: background-position 100ms ease;
      background-position: left bottom;
      width: 100%;
      padding: 10px; }
      .wrapper-content header section#myModal button:hover, .wrapper-content header section#myModal2 button:hover {
        background-position: right top;
        color: black;
        cursor: pointer; }
    .wrapper-content header section#myModal .modal-dialog .modal-content .modal-header, .wrapper-content header section#myModal2 .modal-dialog .modal-content .modal-header {
      background-color: #5cb85c; }
      .wrapper-content header section#myModal .modal-dialog .modal-content .modal-header h4, .wrapper-content header section#myModal2 .modal-dialog .modal-content .modal-header h4 {
        color: white;
        font-size: 18px; }
    .wrapper-content header section#myModal .modal-dialog .modal-content .modal-body .psw:hover, .wrapper-content header section#myModal2 .modal-dialog .modal-content .modal-body .psw:hover {
      cursor: pointer; }
    .wrapper-content header section#myModal .modal-dialog .modal-content .modal-footer button, .wrapper-content header section#myModal2 .modal-dialog .modal-content .modal-footer button {
      background-color: #E74C3C;
      color: #ffffff;
      font-size: 1.2em;
      border-radius: 5px;
      border: none;
      background: -webkit-gradient(linear, right top, left top, color-stop(50%, #f7968c), color-stop(50%, #E74C3C));
      background: linear-gradient(to left, #f7968c 50%, #E74C3C 50%);
      background-size: 200% 100%;
      -webkit-transition: background-position 100ms ease;
      transition: background-position 100ms ease;
      background-position: left bottom;
      width: 150px; }
      .wrapper-content header section#myModal .modal-dialog .modal-content .modal-footer button:hover, .wrapper-content header section#myModal2 .modal-dialog .modal-content .modal-footer button:hover {
        background-position: right top;
        color: black;
        cursor: pointer; }
  .wrapper-content main {
    max-width: 1200px;
    background-color: white;
    margin: 0 auto; }
    .wrapper-content main article.main-content {
      padding: 0;
      font-size: 1.1em; }
      @media all and (min-width: 992px) {
        .wrapper-content main article.main-content {
          padding-left: 3px;
          padding-right: 10px; } }
      .wrapper-content main article.main-content .search_place {
        display: none;
        margin-top: 13px; }
        .wrapper-content main article.main-content .search_place .map-search {
          width: 100%;
          border: 2px solid #4FB748;
          padding: 5px;
          border-radius: 5px;
          position: relative; }
          .wrapper-content main article.main-content .search_place .map-search .input-radius {
            color: #e60000;
            width: 210px !important;
            height: 30px !important;
            position: absolute;
            z-index: 15;
            top: 35px;
            right: 5px; }
          .wrapper-content main article.main-content .search_place .map-search span {
            color: #00914E;
            position: absolute;
            z-index: 15;
            top: 5px;
            background-color: white;
            right: 5px;
            width: 210px;
            height: 30px;
            padding-left: 3px;
            padding-top: 5px;
            border: 1px solid #ccc; }
          .wrapper-content main article.main-content .search_place .map-search button {
            background-color: #5cb85c;
            color: #ffffff;
            font-size: 1.2em;
            border-radius: 5px;
            border: none;
            background: -webkit-gradient(linear, right top, left top, color-stop(50%, #69D17A), color-stop(50%, #5cb85c));
            background: linear-gradient(to left, #69D17A 50%, #5cb85c 50%);
            background-size: 200% 100%;
            -webkit-transition: background-position 100ms ease;
            transition: background-position 100ms ease;
            background-position: left bottom;
            border-radius: 0;
            position: absolute;
            top: 35px;
            right: 5px;
            width: 75px;
            height: 29px;
            z-index: 34; }
            .wrapper-content main article.main-content .search_place .map-search button:hover {
              background-position: right top;
              color: black;
              cursor: pointer; }
          .wrapper-content main article.main-content .search_place .map-search #mapholder {
            width: 100%;
            height: 500px; }
            .wrapper-content main article.main-content .search_place .map-search #mapholder .container-locale {
              max-width: 320px; }
            .wrapper-content main article.main-content .search_place .map-search #mapholder .content-left-locale {
              width: 40%;
              float: left; }
              .wrapper-content main article.main-content .search_place .map-search #mapholder .content-left-locale img {
                width: 100%; }
            .wrapper-content main article.main-content .search_place .map-search #mapholder .content-right-locale {
              padding-left: 5px;
              width: 58%;
              float: right;
              position: relative; }
              .wrapper-content main article.main-content .search_place .map-search #mapholder .content-right-locale p {
                text-align: justify;
                color: #66A400; }
                .wrapper-content main article.main-content .search_place .map-search #mapholder .content-right-locale p:nth-child(1) {
                  color: red; }
              .wrapper-content main article.main-content .search_place .map-search #mapholder .content-right-locale .btn-locale {
                background-color: #E74C3C;
                color: #ffffff;
                font-size: 1.2em;
                border-radius: 5px;
                border: none;
                background: -webkit-gradient(linear, right top, left top, color-stop(50%, #f7968c), color-stop(50%, #E74C3C));
                background: linear-gradient(to left, #f7968c 50%, #E74C3C 50%);
                background-size: 200% 100%;
                -webkit-transition: background-position 100ms ease;
                transition: background-position 100ms ease;
                background-position: left bottom;
                position: absolute;
                top: 55px !important;
                right: -5px; }
                .wrapper-content main article.main-content .search_place .map-search #mapholder .content-right-locale .btn-locale:hover {
                  background-position: right top;
                  color: black;
                  cursor: pointer; }
                .wrapper-content main article.main-content .search_place .map-search #mapholder .content-right-locale .btn-locale a {
                  font-size: 0.8em; }
                .wrapper-content main article.main-content .search_place .map-search #mapholder .content-right-locale .btn-locale:hover a {
                  color: white; }
        .wrapper-content main article.main-content .search_place .result-search {
          margin: 15px 0;
          color: #23527c;
          font-size: 1.2em; }
          .wrapper-content main article.main-content .search_place .result-search i {
            font-size: 1.3em;
            color: #66A400; }
        .wrapper-content main article.main-content .search_place .input-radius {
          color: #e60000;
          width: 210px !important;
          height: 30px !important;
          position: absolute;
          z-index: 15;
          top: 25px;
          right: 5px; }
      .wrapper-content main article.main-content .nav-text ol {
        font-size: 16px;
        font-weight: 600;
        background-color: #33cc66;
        padding: 8px 15px;
        margin: 10px 0 20px 0;
        list-style: none; }
        .wrapper-content main article.main-content .nav-text ol li {
          color: #000000;
          display: inline-block; }
          .wrapper-content main article.main-content .nav-text ol li:nth-child(1) a:hover {
            color: #E74C3C; }
          .wrapper-content main article.main-content .nav-text ol li:nth-child(2) {
            color: #000000; }
      .wrapper-content main article.main-content .wrap-content .content {
        border: 2px solid #4FB748;
        border-radius: 5px;
        margin: 10px 0;
        padding: 5px; }
        .wrapper-content main article.main-content .wrap-content .content .content-left {
          padding: 0;
          padding-top: 5px; }
        .wrapper-content main article.main-content .wrap-content .content .content-right {
          padding: 0; }
          .wrapper-content main article.main-content .wrap-content .content .content-right .content-right1 {
            padding: 0;
            text-align: justify; }
            @media all and (min-width: 768px) {
              .wrapper-content main article.main-content .wrap-content .content .content-right .content-right1 {
                padding: 0 5px;
                border-right: 1px solid #CDD0D2; } }
            .wrapper-content main article.main-content .wrap-content .content .content-right .content-right1 div {
              margin-top: 5px; }
            .wrapper-content main article.main-content .wrap-content .content .content-right .content-right1 .title {
              font-weight: bold;
              text-transform: uppercase; }
              .wrapper-content main article.main-content .wrap-content .content .content-right .content-right1 .title a {
                color: #337ab7; }
                .wrapper-content main article.main-content .wrap-content .content .content-right .content-right1 .title a:hover {
                  color: #69D17A; }
            .wrapper-content main article.main-content .wrap-content .content .content-right .content-right1 .local, .wrapper-content main article.main-content .wrap-content .content .content-right .content-right1 .area {
              font-weight: bold; }
            .wrapper-content main article.main-content .wrap-content .content .content-right .content-right1 .date {
              color: #E74C3C;
              font-weight: bold; }
            .wrapper-content main article.main-content .wrap-content .content .content-right .content-right1 .price, .wrapper-content main article.main-content .wrap-content .content .content-right .content-right1 .phone {
              color: #66A400; }
          .wrapper-content main article.main-content .wrap-content .content .content-right .content-right2 {
            padding: 0;
            color: #66A400; }
            @media all and (min-width: 768px) {
              .wrapper-content main article.main-content .wrap-content .content .content-right .content-right2 {
                padding-left: 5px; } }
            .wrapper-content main article.main-content .wrap-content .content .content-right .content-right2 p {
              color: #00914E;
              margin-top: 3px;
              font-weight: bold; }
            .wrapper-content main article.main-content .wrap-content .content .content-right .content-right2 .hide_op {
              display: none; }
              @media all and (min-width: 992px) {
                .wrapper-content main article.main-content .wrap-content .content .content-right .content-right2 .hide_op {
                  display: block; } }
            .wrapper-content main article.main-content .wrap-content .content .content-right .content-right2 .item-cr1 {
              line-height: 1.9em; }
              .wrapper-content main article.main-content .wrap-content .content .content-right .content-right2 .item-cr1 .fa {
                width: 25px;
                color: black; }
            .wrapper-content main article.main-content .wrap-content .content .content-right .content-right2 button {
              background-color: #5cb85c;
              color: #ffffff;
              font-size: 1.2em;
              border-radius: 5px;
              border: none;
              background: -webkit-gradient(linear, right top, left top, color-stop(50%, #69D17A), color-stop(50%, #5cb85c));
              background: linear-gradient(to left, #69D17A 50%, #5cb85c 50%);
              background-size: 200% 100%;
              -webkit-transition: background-position 100ms ease;
              transition: background-position 100ms ease;
              background-position: left bottom;
              width: 100%;
              margin-top: 15px;
              padding: 7px; }
              .wrapper-content main article.main-content .wrap-content .content .content-right .content-right2 button:hover {
                background-position: right top;
                color: black;
                cursor: pointer; }
      .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail {
        border-top: 1px solid #4fb748;
        padding-top: 10px;
        margin-top: 10px;
        position: relative; }
        .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail .btn-close {
          background-color: #E74C3C;
          color: #ffffff;
          font-size: 1.2em;
          border-radius: 5px;
          border: none;
          background: -webkit-gradient(linear, right top, left top, color-stop(50%, #f7968c), color-stop(50%, #E74C3C));
          background: linear-gradient(to left, #f7968c 50%, #E74C3C 50%);
          background-size: 200% 100%;
          -webkit-transition: background-position 100ms ease;
          transition: background-position 100ms ease;
          background-position: left bottom;
          width: 40px;
          padding: 8px;
          position: absolute;
          top: 5px;
          right: 0;
          font-size: 0.8em; }
          .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail .btn-close:hover {
            background-position: right top;
            color: black;
            cursor: pointer; }
          @media all and (min-width: 768px) {
            .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail .btn-close {
              width: 80px;
              font-size: 1.2em; } }
        .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail .nav-tabs li a {
          color: #337ab7; }
        .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail .tab-content {
          padding-top: 10px;
          border: 1px solid #dddddd; }
          .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail .tab-content .tab-pane {
            padding: 5px; }
            .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail .tab-content .tab-pane:nth-child(4) .des-detail-content .right-panel {
              font-family: Arial, Helvetica, sans-serif;
              line-height: 15px;
              position: absolute;
              right: 5px;
              top: 6%;
              width: 50%;
              padding: 5px;
              z-index: 1;
              border: 1px solid #999;
              background: #fff; }
              @media all and (min-width: 992px) {
                .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail .tab-content .tab-pane:nth-child(4) .des-detail-content .right-panel {
                  width: 23%; } }
              .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail .tab-content .tab-pane:nth-child(4) .des-detail-content .right-panel .near_by_item {
                list-style-type: none;
                font-size: 16px;
                color: green;
                padding: 0;
                margin: 0;
                max-height: 250px;
                width: 100%;
                overflow-y: scroll;
                overflow-x: scroll; }
              .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail .tab-content .tab-pane:nth-child(4) .des-detail-content .right-panel .places {
                font-size: 12px;
                list-style-type: none;
                padding: 0;
                margin: 0;
                max-height: 250px;
                width: 100%;
                overflow-y: scroll;
                overflow-x: scroll; }
                .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail .tab-content .tab-pane:nth-child(4) .des-detail-content .right-panel .places li {
                  width: 100%;
                  background-color: #f1f1f1;
                  padding: 10px;
                  text-overflow: ellipsis;
                  white-space: nowrap; }
            .wrapper-content main article.main-content .wrap-content .content-detail .menu-detail .tab-content .tab-pane:nth-child(5) .panorama {
              width: 100%;
              height: 400px; }
      .wrapper-content main article.main-content .pagination-container {
        margin: 0 auto;
        text-align: center; }
    .wrapper-content main aside.side-bar {
      padding: 1px; }
      .wrapper-content main aside.side-bar section.search-bar, .wrapper-content main aside.side-bar section.news-bar {
        font-family: Lato-Bold, Helvetica, sans-serif; }
        .wrapper-content main aside.side-bar section.search-bar .search, .wrapper-content main aside.side-bar section.search-bar .news, .wrapper-content main aside.side-bar section.news-bar .search, .wrapper-content main aside.side-bar section.news-bar .news {
          background-color: #4FB748;
          border-radius: 5px;
          margin-top: 10px;
          padding-bottom: 5px; }
          .wrapper-content main aside.side-bar section.search-bar .search .title-side, .wrapper-content main aside.side-bar section.search-bar .news .title-side, .wrapper-content main aside.side-bar section.news-bar .search .title-side, .wrapper-content main aside.side-bar section.news-bar .news .title-side {
            color: white;
            font-size: 22px;
            padding: 8px 0;
            background-color: #00914E;
            text-align: center;
            overflow: hidden;
            margin-bottom: 15px;
            border-radius: 7px 7px 0 0; }
          .wrapper-content main aside.side-bar section.search-bar .search .row, .wrapper-content main aside.side-bar section.search-bar .news .row, .wrapper-content main aside.side-bar section.news-bar .search .row, .wrapper-content main aside.side-bar section.news-bar .news .row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
            .wrapper-content main aside.side-bar section.search-bar .search .row select, .wrapper-content main aside.side-bar section.search-bar .news .row select, .wrapper-content main aside.side-bar section.news-bar .search .row select, .wrapper-content main aside.side-bar section.news-bar .news .row select {
              height: 30px;
              font-family: Lato-Bold, Helvetica, sans-serif;
              color: black;
              font-size: 1.1em;
              margin: 5px 10px; }
          .wrapper-content main aside.side-bar section.search-bar .search .icon-s, .wrapper-content main aside.side-bar section.search-bar .news .icon-s, .wrapper-content main aside.side-bar section.news-bar .search .icon-s, .wrapper-content main aside.side-bar section.news-bar .news .icon-s {
            background-color: #E74C3C;
            color: #ffffff;
            font-size: 1.2em;
            border-radius: 5px;
            border: none;
            background: -webkit-gradient(linear, right top, left top, color-stop(50%, #f7968c), color-stop(50%, #E74C3C));
            background: linear-gradient(to left, #f7968c 50%, #E74C3C 50%);
            background-size: 200% 100%;
            -webkit-transition: background-position 100ms ease;
            transition: background-position 100ms ease;
            background-position: left bottom;
            text-align: center;
            margin: 5px 10px;
            padding: 8px; }
            .wrapper-content main aside.side-bar section.search-bar .search .icon-s:hover, .wrapper-content main aside.side-bar section.search-bar .news .icon-s:hover, .wrapper-content main aside.side-bar section.news-bar .search .icon-s:hover, .wrapper-content main aside.side-bar section.news-bar .news .icon-s:hover {
              background-position: right top;
              color: black;
              cursor: pointer; }
      .wrapper-content main aside.side-bar section.news-bar .news .new-item {
        padding: 5px;
        text-align: justify;
        border-bottom: 1px solid white;
        margin: 5px 10px; }
        .wrapper-content main aside.side-bar section.news-bar .news .new-item:hover .news-detail > a {
          color: white; }
        .wrapper-content main aside.side-bar section.news-bar .news .new-item .news-img {
          width: 25%;
          float: left; }
          .wrapper-content main aside.side-bar section.news-bar .news .new-item .news-img img {
            width: 100%; }
        .wrapper-content main aside.side-bar section.news-bar .news .new-item .news-detail {
          width: 72%;
          margin-left: 5px;
          float: right; }
          .wrapper-content main aside.side-bar section.news-bar .news .new-item .news-detail a {
            color: black;
            text-decoration: none; }
      .wrapper-content main aside.side-bar section.news-bar .news .icon-s {
        margin-top: 10px; }
  .wrapper-content footer {
    padding-top: 20px; }
    .wrapper-content footer .top-footer {
      width: 100%; }
    .wrapper-content footer .footer-content {
      padding-bottom: 10px;
      color: #c1c1c1;
      background-color: #004824; }
      .wrapper-content footer .footer-content .wrapper-fcontent {
        max-width: 1200px;
        margin: 0 auto; }
        .wrapper-content footer .footer-content .wrapper-fcontent .f-content1 {
          text-align: center; }
          .wrapper-content footer .footer-content .wrapper-fcontent .f-content1 img:nth-child(1) {
            width: 70%; }
          .wrapper-content footer .footer-content .wrapper-fcontent .f-content1 img:nth-child(2) {
            width: 100%; }
        .wrapper-content footer .footer-content .wrapper-fcontent .f-content2 {
          text-align: justify; }
          .wrapper-content footer .footer-content .wrapper-fcontent .f-content2 .footer-nav .item {
            display: inline-block;
            padding-right: 15px; }
            .wrapper-content footer .footer-content .wrapper-fcontent .f-content2 .footer-nav .item:hover a {
              color: red; }
            .wrapper-content footer .footer-content .wrapper-fcontent .f-content2 .footer-nav .item a {
              color: #2196F3;
              font-size: 18px; }
        .wrapper-content footer .footer-content .wrapper-fcontent .footer-link {
          margin-top: 5px; }
          .wrapper-content footer .footer-content .wrapper-fcontent .footer-link .row1 {
            margin-left: 20px; }
            .wrapper-content footer .footer-content .wrapper-fcontent .footer-link .row1 a {
              display: inline-block;
              width: 11%;
              margin-left: 20px; }
              .wrapper-content footer .footer-content .wrapper-fcontent .footer-link .row1 a img {
                width: 100%; }
                .wrapper-content footer .footer-content .wrapper-fcontent .footer-link .row1 a img:hover {
                  opacity: 0.8;
                  cursor: pointer; }
          .wrapper-content footer .footer-content .wrapper-fcontent .footer-link .row2 img {
            margin-top: 10px;
            width: 100%; }
        .wrapper-content footer .footer-content .wrapper-fcontent .bot-footer {
          border-top: 1px solid #c1c1c1;
          margin-top: 15px;
          padding-top: 15px;
          text-align: center; }
          .wrapper-content footer .footer-content .wrapper-fcontent .bot-footer p {
            color: #c1c1c1; }
