@font-face {
  font-family: Lato-Bold;
  src: url("../fonts/Lato/fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato/fonts/Lato-Bold.eot") format("eot"); }

@font-face {
  font-family: Lato-Light;
  src: url("../fonts/Lato/fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato/fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato/fonts/Lato-Light.eot") format("eot"); }

@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/Lato/fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato/fonts/Lato-Regular.eot") format("eot"); }

@font-face {
  font-family: Lato-Italic;
  src: url("../fonts/Lato/fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato/fonts/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato/fonts/Lato-Italic.eot") format("eot"); }

@-webkit-keyframes mouse-scroll {
  0% {
    bottom: 30px; }
  50% {
    bottom: 45px; }
  100% {
    bottom: 30px; } }

@keyframes mouse-scroll {
  0% {
    bottom: 30px; }
  50% {
    bottom: 45px; }
  100% {
    bottom: 30px; } }

body {
  font-family: Lato-Regular, Helvetica, sans-serif;
  font-size: 14px; }

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    text-decoration: none;
    cursor: pointer; }

p {
  margin: 0; }

button {
  border: none; }

img {
  vertical-align: middle; }

.row {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

.wrap-content {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Helvetica ,"Helvetica Neue", Arial; }
  .wrap-content .ad-audio {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/banner1.jpg");
    position: fixed;
    top: 0;
    z-index: -1; }
  .wrap-content .content {
    color: #1d2129;
    background-position: center top;
    padding: 20px; }
    @media all and (min-width: 768px) {
      .wrap-content .content {
        padding: 60px 0; } }
    @media all and (min-width: 1200px) {
      .wrap-content .content {
        background-position: center;
        background-size: cover; } }
    .wrap-content .content h5 {
      font-size: 18px;
      text-transform: uppercase; }
    .wrap-content .content h2 {
      font-size: 40px; }
    .wrap-content .content .text-des {
      font-size: 15px;
      margin-top: 20px;
      line-height: 2em; }
    .wrap-content .content button {
      background-color: #5cb85c;
      color: #ffffff;
      font-size: 1.2em;
      border-radius: 5px;
      border: none;
      background: -webkit-gradient(linear, right top, left top, color-stop(50%, #69D17A), color-stop(50%, #5cb85c));
      background: linear-gradient(to left, #69D17A 50%, #5cb85c 50%);
      background-size: 200% 100%;
      -webkit-transition: background-position 100ms ease;
      transition: background-position 100ms ease;
      background-position: left bottom;
      width: 125px;
      height: 40px;
      margin-top: 30px; }
      .wrap-content .content button:hover {
        background-position: right top;
        color: black;
        cursor: pointer; }
    .wrap-content .content .type1 {
      max-width: 1020px;
      margin: 0 auto;
      position: relative; }
      .wrap-content .content .type1 .content-left {
        width: 100%;
        text-align: left; }
        @media all and (min-width: 768px) {
          .wrap-content .content .type1 .content-left {
            float: left;
            width: 60%;
            padding-left: 15%;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }
      .wrap-content .content .type1 .content-right {
        width: 100%;
        text-align: center;
        overflow: hidden; }
        @media all and (min-width: 768px) {
          .wrap-content .content .type1 .content-right {
            float: right;
            width: 40%; } }
        .wrap-content .content .type1 .content-right .wrap-right {
          -webkit-transform: translateX(120px);
          transform: translateX(120px);
          -webkit-transition: opacity 1.5s cubic-bezier(0.01, 0.04, 0.26, 0.95), -webkit-transform 1.5s cubic-bezier(0.03, 0.68, 0.26, 0.95);
          transition: opacity 1.5s cubic-bezier(0.01, 0.04, 0.26, 0.95), -webkit-transform 1.5s cubic-bezier(0.03, 0.68, 0.26, 0.95);
          transition: opacity 1.5s cubic-bezier(0.01, 0.04, 0.26, 0.95), transform 1.5s cubic-bezier(0.03, 0.68, 0.26, 0.95);
          transition: opacity 1.5s cubic-bezier(0.01, 0.04, 0.26, 0.95), transform 1.5s cubic-bezier(0.03, 0.68, 0.26, 0.95), -webkit-transform 1.5s cubic-bezier(0.03, 0.68, 0.26, 0.95); }
          .wrap-content .content .type1 .content-right .wrap-right img {
            width: 75%;
            padding-top: 40px;
            -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
    .wrap-content .content .type2 {
      max-width: 1020px;
      margin: 0 auto;
      position: relative; }
      .wrap-content .content .type2 .content-right {
        width: 100%;
        text-align: left; }
        @media all and (min-width: 768px) {
          .wrap-content .content .type2 .content-right {
            float: right;
            width: 60%;
            padding-right: 10%;
            padding-left: 5%;
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }
      .wrap-content .content .type2 .content-left {
        width: 100%;
        text-align: center;
        overflow: hidden; }
        @media all and (min-width: 768px) {
          .wrap-content .content .type2 .content-left {
            float: left;
            width: 40%; } }
        .wrap-content .content .type2 .content-left .wrap-right {
          -webkit-transform: translateX(-120px);
          transform: translateX(-120px);
          -webkit-transition: opacity 1.5s cubic-bezier(0.01, 0.04, 0.26, 0.95), -webkit-transform 1.5s cubic-bezier(0.03, 0.68, 0.26, 0.95);
          transition: opacity 1.5s cubic-bezier(0.01, 0.04, 0.26, 0.95), -webkit-transform 1.5s cubic-bezier(0.03, 0.68, 0.26, 0.95);
          transition: opacity 1.5s cubic-bezier(0.01, 0.04, 0.26, 0.95), transform 1.5s cubic-bezier(0.03, 0.68, 0.26, 0.95);
          transition: opacity 1.5s cubic-bezier(0.01, 0.04, 0.26, 0.95), transform 1.5s cubic-bezier(0.03, 0.68, 0.26, 0.95), -webkit-transform 1.5s cubic-bezier(0.03, 0.68, 0.26, 0.95); }
          .wrap-content .content .type2 .content-left .wrap-right img {
            width: 75%;
            padding-top: 40px;
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
    .wrap-content .content .type3 {
      max-width: 1020px;
      margin: 0 auto;
      position: relative; }
      .wrap-content .content .type3 .content-right {
        width: 100%;
        text-align: left; }
        @media all and (min-width: 768px) {
          .wrap-content .content .type3 .content-right {
            float: right;
            width: 50%;
            padding-right: 10%;
            padding-left: 5%;
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }
      .wrap-content .content .type3 .content-left {
        width: 100%;
        min-height: 400px;
        text-align: center; }
        @media all and (min-width: 768px) {
          .wrap-content .content .type3 .content-left {
            float: left;
            width: 50%; } }
        .wrap-content .content .type3 .content-left .wrap-right img {
          width: 75%;
          padding-top: 40px; }
  .wrap-content .content1 {
    width: 100%;
    height: 100vh;
    background: transparent;
    text-align: center;
    position: relative; }
    .wrap-content .content1 .slogan {
      max-width: 1020px;
      font-size: 1em;
      line-height: 70px;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #ffffff; }
      @media all and (min-width: 768px) {
        .wrap-content .content1 .slogan {
          font-size: 1.2em; } }
      @media all and (min-width: 992px) {
        .wrap-content .content1 .slogan {
          font-size: 1.5em; } }
      .wrap-content .content1 .slogan .btn-enter {
        background-color: #5cb85c;
        color: #ffffff;
        font-size: 1.2em;
        border-radius: 5px;
        border: none;
        background: -webkit-gradient(linear, right top, left top, color-stop(50%, #69D17A), color-stop(50%, #5cb85c));
        background: linear-gradient(to left, #69D17A 50%, #5cb85c 50%);
        background-size: 200% 100%;
        -webkit-transition: background-position 100ms ease;
        transition: background-position 100ms ease;
        background-position: left bottom;
        width: 200px;
        height: 45px;
        margin: 0 auto; }
        .wrap-content .content1 .slogan .btn-enter:hover {
          background-position: right top;
          color: black;
          cursor: pointer; }
        .wrap-content .content1 .slogan .btn-enter a {
          font-size: 18px;
          color: #ffffff;
          line-height: 45px; }
        .wrap-content .content1 .slogan .btn-enter:hover a {
          color: #000000; }
    .wrap-content .content1 .scroll-icon img {
      position: absolute;
      bottom: 30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-animation: mouse-scroll 1.2s linear infinite;
      animation: mouse-scroll 1.2s linear infinite; }
  .wrap-content .content2 {
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/bg1.jpg"); }
  .wrap-content .content3 {
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/bg2.jpg"); }
  .wrap-content .content4 {
    padding: 20px;
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/bg3.jpg"); }
    @media all and (min-width: 768px) {
      .wrap-content .content4 {
        padding: 20px 0; } }
    @media all and (min-width: 1200px) {
      .wrap-content .content4 {
        background-position: center 100%;
        background-size: cover; } }
  .wrap-content .content5 {
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/bg4.jpg");
    color: #ffffff;
    font-weight: bold; }
