article.main-content{
  padding: 0;
  font-size: 1.1em;
  @include desktop-md{
    padding-left: 3px;
    padding-right: 10px;
  }
  .content{
    border: 2px solid #4FB748;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
    #content-left{
      padding: 0;
      padding-top: 5px;
    }
    #content-right{
      padding: 0;
      .content-right1{
        padding: 0;
        @include tablet{
          padding: 0 5px;
          border-right: 1px solid #CDD0D2;
        }
        text-align: justify;
        div{
          margin-top: 5px;
        }
        .title{
          font-weight: bold;
        }
        .local,.area{
          font-weight: bold;
        }
        .date{
          color: red;
        }
        .price, .phone{
          color: #66A400;
        }
      }
      .content-right2{
        padding: 0;
        @include tablet{
          padding-left: 5px;
        }
        color: #66A400;
        p{
          color: #337ab7;
          margin-top: 3px;
          font-weight: bold;
        }
        .hide_op{
          display: none;
          @include desktop-md{
            display: block;
          }
        }
        .item-cr1{
          line-height: 1.9em;
          .fa{
            width: 25px;
            color: black;
          }
        }
        button{
          @include btn1;
          width: 100%;
          margin-top: 15px;
          padding: 7px;
        }
      }
    }
  }
  #content-detail{
    .menu-detail{
      border-top: 1px solid #4fb748;
      padding-top: 10px;
      margin-top: 10px;
      position: relative;
      #btn-close{
        @include btn2;
        width: 80px;
        padding: 8px;
        position: absolute;
        top: 5px;
        right: 0;
      }
      .nav-tabs{

      }
      .tab-content{
        padding-top: 10px;
        border: 1px solid #dddddd;
        .tab-pane{
          padding: 5px;
        }
        #menu3{
          .image-item{
            .slide2{
              width: 70%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
aside.side-bar{
  padding: 1px;
  section.search-bar, section.news-bar{
    font-family: $font-bold;
    .search, .news{
      background-color: #4FB748;
      border-radius: 5px;
      margin-top: 10px;
      padding-bottom: 5px;
      .title-side{
        @include text(white,22px);
        padding: 8px 0;
        background-color: #00914E;
        text-align: center;
        overflow: hidden;
        margin-bottom: 15px;
        border-radius: 7px 7px 0 0;
      }
      .row{
        display: flex;
        flex-direction: column;
        select{
          height: 30px;
          font-family: $font-bold;
          @include text(black,1.1em);
          margin: 5px 10px;
        }
      }
      .icon-s{
        @include btn2;
        text-align: center;
        margin: 5px 10px;
        padding: 8px;
      }
    }
  }
  section.news-bar{
    .news{
      .new-item{
        padding: 5px;
        text-align: justify;
        border-bottom: 1px solid white;
        margin: 5px 10px;
        &:hover .news-detail>a{
          color: white;
        }
        .news-img{
          width: 25%;
          float: left;
          img{
            width: 100%;
          }
        }
        .news-detail{
          width: 72%;
          margin-left: 5px;
          float: right;
          a{
            color: black;
            text-decoration: none;
          }
        }
      }
      .icon-s{
        margin-top: 10px;
      }
    }
  }
}
