//**Bourbon và font-face
@import '../../bourbon/bourbon';
@import 'font';
$color-black: #000000;
$color-white: #ffffff;
//**Responsive mixin
$tablet-width: 768px;
$desktop-md-width: 992px;
$desktop-lg-width: 1200px;
@mixin tablet {
  @media all and (min-width:#{$tablet-width}){
    @content
  }
}
@mixin desktop-md{
  @media all and (min-width: #{$desktop-md-width}) {
    @content
  }
}
@mixin desktop-lg{
  @media all and (min-width: #{$desktop-lg-width}) {
    @content
  }
}
// Animation
@keyframes mouse-scroll {
  0%{bottom: 30px}
  50%{bottom: 45px}
  100%{bottom: 30px}
}
//
@mixin text($color,$font-size){
  color: $color;
  font-size: $font-size;
}
@mixin btn($color1,$color2){
  background-color: $color1;
  @include text($color-white,1.2em);
  border-radius: 5px;
  border: none;
  //******
  background: linear-gradient(to left, $color2 50%,$color1 50%);
  background-size: 200% 100%;
  transition: background-position 100ms ease;
  background-position: left bottom;
  &:hover{
    background-position: right top;
    color: black;
    cursor: pointer;
  }
}
@mixin btn1{
  @include btn(#5cb85c,#69D17A)
}
@mixin position($type,$top,$right,$bottom,$left){
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
//**Reset CSS
body{
  font-family: Lato-Regular, Helvetica, sans-serif;
  font-size: 14px;
}
ol,ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #000000;
  &:hover{
    text-decoration: none;
    cursor: pointer;
  }
}
p{
  margin: 0;
}
button{
  border: none;
}
img{
  vertical-align: middle;
}
.row{
  margin: 0;
  padding: 0;
}
.clear{
  clear: both;
}
//**CSS phần nội dung
.wrap-content{
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Helvetica ,"Helvetica Neue", Arial;
  .ad-audio{
    width:100%;
    height: 100vh;
    background-position: center;
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/banner1.jpg");
    @include position(fixed, 0, null, null, null);
    z-index: -1;
  }
  .content{
    color: #1d2129;
    background-position: center top;
    padding: 60px 0;
    @include desktop-lg{
      background-position: center;
      background-size: cover;
    }
    .type1{
      max-width: 1020px;
      margin: 0 auto;
      position: relative;
      .content-left{
          width: 100%;
          text-align: left;
          @include tablet{
            float: left;
            width: 60%;
            padding-left: 15%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
          h5{
            font-size: 18px;
            text-transform: uppercase;
          }
          h2{
            font-size: 40px;
          }
          .text-des{
            font-size: 15px;
            margin-top: 20px;
          }
          button{
            @include btn1;
            width: 90px;
            height: 40px;
            margin-top: 30px;
          }
        }
      .content-right{
          width: 100%;
          text-align: center;
          @include tablet{
            float: right;
            width: 40%;
          }
          .wrap-right{
            transform: rotate(5deg);
            img{
              width: 75%;
            }
          }
        }
    }
    .type2{
      max-width: 1020px;
      margin: 0 auto;
      position: relative;
      .content-right{
        width: 100%;
        text-align: left;
        @include tablet{
          float: right;
          width: 60%;
          padding-right: 10%;
          padding-left: 5%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
        h5{
          font-size: 18px;
          text-transform: uppercase;
        }
        h2{
          font-size: 40px;
        }
        .text-des{
          font-size: 15px;
          margin-top: 20px;
        }
        button{
          @include btn1;
          width: 90px;
          height: 40px;
          margin-top: 30px;
        }
      }
      .content-left{
        width: 100%;
        text-align: center;
        @include tablet{
          float: left;
          width: 40%;
        }
        .wrap-right{
          transform: rotate(-5deg);
          img{
            width: 75%;
          }
        }
      }
    }
    .type3{
      max-width: 1020px;
      margin: 0 auto;
      position: relative;
      .content-right{
        width: 100%;
        text-align: left;
        @include tablet{
          float: right;
          width: 50%;
          padding-right: 10%;
          padding-left: 5%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
        h5{
          font-size: 18px;
          text-transform: uppercase;
        }
        h2{
          font-size: 40px;
        }
        .text-des{
          font-size: 15px;
          margin-top: 20px;
        }
        button{
          @include btn1;
          width: 90px;
          height: 40px;
          margin-top: 30px;
        }
      }
      .content-left{
        width: 100%;
        min-height: 400px;
        text-align: center;
        @include tablet{
          float: left;
          width: 50%;
        }
        .wrap-right{
          img{
            width: 75%;
          }
        }
      }
    }
  }
  .content1{
    width: 100%;
    height: 100vh;
    background: transparent;
    text-align: center;
    position: relative;
    .slogan{
      max-width: 1020px;
      font-size: 1em;
      line-height: 70px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-white;
      @include tablet{
        font-size: 1.2em;
      }
      @include desktop-md{
        font-size: 1.5em;
      }
      .btn-enter{
        @include btn1;
        width: 200px;
        height: 45px;
        margin: 0 auto;
        a{
          font-size: 18px;
          color: $color-white;
          line-height: 45px;
        }
        &:hover a{color: $color-black}
      }
    }
    .scroll-icon img{
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      animation: mouse-scroll 1.2s linear infinite;
    }
  }
  .content2{
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/bg1.jpg");
  }
  .content3{
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/bg2.jpg");
  }
  .content4{
    padding: 0;
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/bg3.jpg");
    @include desktop-lg{
      background-position: center 100%;
      background-size: cover;
    }
  }
}
