//**Bourbon và font-face
@import '../../bourbon/bourbon';
@import 'font';
$color-black: #000000;
$color-white: #ffffff;
//**Responsive mixin
$tablet-width: 768px;
$desktop-md-width: 992px;
$desktop-lg-width: 1200px;
@mixin tablet {
  @media all and (min-width:#{$tablet-width}){
    @content
  }
}
@mixin desktop-md{
  @media all and (min-width: #{$desktop-md-width}) {
    @content
  }
}
@mixin desktop-lg{
  @media all and (min-width: #{$desktop-lg-width}) {
    @content
  }
}
// Animation
@keyframes mouse-scroll {
  0%{bottom: 30px}
  50%{bottom: 45px}
  100%{bottom: 30px}
}
@keyframes wave-animation{
  0% {
    opacity:1;
    transform: scale(1);
    visibility: visible;
  }
  50% {
    opacity:0;
    transform: scale(1.8);
    visibility: hidden;
  }
  100% {
    opacity:0;
    transform: scale(1.8);
    visibility: visible;
  }
}
// css vị trí các địa điểm HN, HCM, ĐN
@mixin locale($top, $left, $pdt){
  position: absolute;
  top: $top;
  left: $left;
  z-index: 5;
  padding-top: $pdt;
}
@mixin popover($top, $left){
  top: $top;
  left: $left;
}
//
@mixin text($color,$font-size){
  color: $color;
  font-size: $font-size;
}
@mixin btn($color1,$color2){
  background-color: $color1;
  @include text($color-white,1.2em);
  border-radius: 5px;
  border: none;
  //******
  background: linear-gradient(to left, $color2 50%,$color1 50%);
  background-size: 200% 100%;
  transition: background-position 100ms ease;
  background-position: left bottom;
  &:hover{
    background-position: right top;
    color: black;
    cursor: pointer;
  }
}
@mixin btn1{
  @include btn(#5cb85c,#69D17A)
}
@mixin position($type,$top,$right,$bottom,$left){
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
//**Reset CSS
body{
  font-family: Lato-Regular, Helvetica, sans-serif;
  font-size: 14px;
}
ol,ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #000000;
  &:hover{
    text-decoration: none;
    cursor: pointer;
  }
}
p{
  margin: 0;
}
button{
  border: none;
}
img{
  vertical-align: middle;
}
.row{
  margin: 0;
  padding: 0;
}
.clear{
  clear: both;
}
//**CSS phần nội dung
.wrap-content{
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Helvetica ,"Helvetica Neue", Arial;
  .ad-audio{
    width:100%;
    height: 100vh;
    background-position: center;
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/banner1.jpg");
    @include position(fixed, 0, null, null, null);
    z-index: -1;
  }
  .content{
    color: #1d2129;
    background-position: center top;
    padding: 20px;
    @include tablet{
      padding: 40px 0;
    }
    @include desktop-lg{
      background-position: center;
      background-size: cover;
    }
    h5{
      font-size: 18px;
      text-transform: uppercase;
    }
    h2{
      font-size: 40px;
    }
    .text-des{
      font-size: 15px;
      margin-top: 20px;
      line-height: 2em;
      text-indent: 22px;
    }
    button{
      @include btn1;
      width: 125px;
      height: 40px;
      margin-top: 30px;
      a{
        color: $color-white;
      }
      &:hover a{
        color: $color-black;
      }
    }
    .type1{
      max-width: 1020px;
      margin: 0 auto;
      position: relative;
      .content-left{
          width: 100%;
          text-align: left;
          @include tablet{
            float: left;
            width: 60%;
            padding-left: 15%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      .content-right{
        width: 100%;
        padding: 20px;
        text-align: center;
        overflow: hidden;
        @include tablet{
          float: right;
          width: 40%;
        }
        .wrap-right{
          opacity: 0;
          transform: translateX(120px);
          transition: opacity 1.5s cubic-bezier(.01, .04, .26, .95), transform 1.5s cubic-bezier(.03, .68, .26, .95);
          img{
            width: 75%;
            padding-top: 40px;
            transform: rotate(5deg)
          }
        }
      }
    }
    .type2{
      max-width: 1020px;
      margin: 0 auto;
      position: relative;
      .content-right{
        width: 100%;
        text-align: left;
        @include tablet{
          float: right;
          width: 60%;
          padding-right: 10%;
          padding-left: 5%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }
      .content-left{
        width: 100%;
        padding: 20px;
        text-align: center;
        overflow: hidden;
        @include tablet{
          float: left;
          width: 40%;
        }
        .wrap-right{
          opacity: 0;
          transform: translateX(-120px);
          transition: opacity 1.5s cubic-bezier(.01, .04, .26, .95), transform 1.5s cubic-bezier(.03, .68, .26, .95);
          img{
            width: 75%;
            padding-top: 40px;
            transform: rotate(-5deg);
          }
        }
      }
    }
    .type3{
      max-width: 1020px;
      margin: 0 auto;
      position: relative;
      .content-right{
        width: 100%;
        text-align: left;
        @include tablet{
          float: right;
          width: 50%;
          padding-right: 10%;
          padding-left: 5%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }
      .content-left{
        width: 100%;
        min-height: 400px;
        text-align: center;
        @include tablet{
          float: left;
          width: 50%;
        }
        .wrap-right{
          img{
            width: 75%;
            padding-top: 40px;
          }
        }
      }
    }
  }
  .content1{
    width: 100%;
    height: 100vh;
    background: transparent;
    text-align: center;
    position: relative;
    padding-top: 0;
    .logo{
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      img{
        height: 200px;
      }
    }
    .slogan{
      max-width: 1020px;
      font-size: 1em;
      line-height: 70px;
      position: relative;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-white;
      @include tablet{
        font-size: 1.2em;
      }
      @include desktop-md{
        font-size: 1.5em;
      }
      .btn-enter{
        @include btn1;
        width: 200px;
        height: 45px;
        margin: 0 auto;
        a{
          font-size: 18px;
          color: $color-white;
          line-height: 45px;
        }
        &:hover a{color: $color-black}
      }
    }
    .scroll-icon img{
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      animation: mouse-scroll 1.2s linear infinite;
    }
  }
  .content2{
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/bg9.jpg");
    background-size: cover;
    color: $color-white;
    font-weight: bold;
    .content-right{
      .wrap-right{
        img{
          transform: rotate(0deg) !important;
          padding: 0 !important;
          width: 80% !important;
        }
        .locale{
          &:hover{
            cursor: pointer;
          }
          .icon-locale{
            border-radius: 50%;
            text-align: center;
            width: 28px;
            height: 28px;
            background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/locale.png");
            padding-top: 5px;
            color: white;
            float: left
          }
          .locale-text{
            text-align: center;
            padding: 5px;
            float: right;
            color: white;
            font-size: 1.2em;
          }
          .wave{
            position: absolute;
            display: block;
            z-index: -1;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            opacity:0;
            background-color: #3061AE;
            visibility: hidden;
            transition: opacity .3s, transform .3s, visibility 0s 1s;
            animation: wave-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
          }
          &.hn{
            @include locale(21%, 39%, 0);
            .locale-text{
              @include text(red, 1.2em)
            }
            .wave-hn{
              top: 0;
              left: 0;
            }
          }
          &.dn{
            @include locale(47%, 59%, 20px);
            .wave-dn{
              top: 21px;
              left: 0;
            }
          }
          &.hcm{
            @include locale(75%, 50%, 20px);
            .wave-hcm{
              top: 21px;
              left: 0;
            }
          }
        }
        .container-popover{
          display: none;
          visibility: hidden;
          width: 75%;
          position: absolute;
          z-index: 20;
          background: #fff;
          border: 1px solid #d4d5d5;
          border-radius: 10px;
          box-shadow: 5px 5px 10px #03325d;
          &.first{
            @include popover(29%, 7%)
          }
          &.second{
            @include popover(59%, 26%)
          }
          &.third{
            @include popover(35%, 17%)
          }
          .ppover{
            .triangle_border{
              position: absolute;
              width: 20px;
              height: 13px;
              top: -13px;
              margin-left: 44.5%;
              background: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/boder-top.png") no-repeat;
            }
            .locale-item3{
              background: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/boder-bottom.png") no-repeat;
              position: absolute;
              width: 20px;
              height: 13px;
              top: 100%;
            }
            ul{
              li.text{
                margin: 0 auto;
                font-size: 18px;
                color: #0558a4;
                padding: 10px 0;
              }
              li.img{
                position: absolute;
                border: 1px solid #e2e2e2;
                width: 89%;
                top: 50px;
                left: 13px;
              }
              li.view-more{
                font-size: 16px;
                color: #fff;
                margin: 10px 0;
                &:hover{
                  opacity: 0.6;
                }
                div{
                  border-radius: 4px;
                  text-align: center;
                  cursor: pointer;
                  button{
                    margin-top: 0;
                    font-size: 1em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .content3{
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/bg2.jpg");
  }
  .content4{
    padding:20px;
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/bg3.jpg");
    @include tablet{
      padding:20px 0;
    }
    @include desktop-lg{
      background-position: center 100%;
      background-size: cover;
    }
  }
  .content5{
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/bg4.jpg");
    color: $color-white;
  }
  .content6{
    background-image: url("https://raw.githubusercontent.com/congtrinh0209/first_project/master/app/images/img-startpage/bg1.jpg");
  }
}
